In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_csv('https://raw.githubusercontent.com/Mounika-Kajjam/Datasets/master/cities.csv')
df

,name_of_city,state_code,state_name,dist_code,population_total,population_male,population_female,0-6_population_total,0-6_population_male,0-6_population_female,...,literates_female,sex_ratio,child_sex_ratio,effective_literacy_rate_total,effective_literacy_rate_male,effective_literacy_rate_female,location,total_graduates,male_graduates,female_graduates
0,Abohar,3,PUNJAB,9,145238,76840,68398,15870,8587,7283,...,44972,890,848,79.86,85.49,73.59,"30.1452928,74.1993043",16287,8612,7675
1,Achalpur,27,MAHARASHTRA,7,112293,58256,54037,11810,6186,5624,...,43086,928,909,91.99,94.77,89.00,"21.257584,77.5086754",8863,5269,3594
2,Adilabad,28,ANDHRA PRADESH,1,117388,59232,58156,13103,6731,6372,...,37660,982,947,80.51,88.18,72.73,"19.0809075,79.560344",10565,6797,3768
3,Adityapur,20,JHARKHAND,24,173988,91495,82493,23042,12063,10979,...,54515,902,910,83.46,89.98,76.23,"22.7834741,86.1576889",19225,12189,7036
4,Adoni,28,ANDHRA PRADESH,21,166537,82743,83794,18406,9355,9051,...,45089,1013,968,68.38,76.58,60.33,"15.6322227,77.2728368",11902,7871,4031
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,Vizianagaram,28,ANDHRA PRADESH,12,227533,111596,115937,20487,10495,9992,...,80306,1039,952,81.85,88.18,75.80,"18.1066576,83.3955506",30656,19173,11483
489,Warangal,28,ANDHRA PRADESH,9,620116,310400,309716,55392,28434,26958,...,217136,998,948,84.16,91.54,76.79,"17.9689008,79.5940544",109613,69507,40106
490,Wardha,27,MAHARASHTRA,8,105543,53241,52302,9754,5139,4615,...,43339,982,898,94.05,97.19,90.88,"20.745319,78.6021946",19363,10645,8718
491,Yamunanagar,6,HARYANA,3,216628,115404,101224,22905,12556,10349,...,74255,877,824,85.91,89.61,81.71,"30.1290485,77.2673901",29803,14349,15454
492,Yavatmal,27,MAHARASHTRA,14,116714,58717,57997,11081,5894,5187,...,46561,988,880,91.81,95.45,88.17,"20.3887937,78.1204073",13511,7397,6114

In [11]:
#1.a.Analyze the  top 5 cities with highest number of female graduates
maxv=df.nlargest(5,'female_graduates')
print(maxv[('name_of_city')])

141                Delhi
185       Greater Mumbai
72              Bengaluru
184    Greater Hyderabad
119              Chennai
Name: name_of_city, dtype: object

In [12]:
#1.b.Find the 5 cities with lowest number of female graduates and concatenate the two dataframes of top 5 cities with  bottom 5 cities
lowv=df.nsmallest(5,'female_graduates')
print(lowv[('name_of_city')])

131       Dabgram
39         Bagaha
234       Jamuria
374     Pithampur
323    Mustafabad
Name: name_of_city, dtype: object

In [16]:
edu=[maxv,lowv]
r=pd.concat(edu)
r

,name_of_city,state_code,state_name,dist_code,population_total,population_male,population_female,0-6_population_total,0-6_population_male,0-6_population_female,...,literates_female,sex_ratio,child_sex_ratio,effective_literacy_rate_total,effective_literacy_rate_male,effective_literacy_rate_female,location,total_graduates,male_graduates,female_graduates
141,Delhi,7,NCT OF DELHI,99,11007835,5871362,5136473,1209275,647938,561337,...,3806615,875,866,87.60,91.44,83.20,"28.7041,77.1025",2221137,1210040,1011097
185,Greater Mumbai,27,MAHARASHTRA,99,12478447,6736815,5741632,1139146,599007,540139,...,4509812,852,902,90.28,93.32,86.70,"19.0760,72.8777",1802371,964964,837407
72,Bengaluru,29,KARNATAKA,18,8425970,4401299,4024671,862493,444639,417854,...,3110983,914,940,89.59,92.63,86.25,"12.9716,77.5946",1591163,908363,682800
184,Greater Hyderabad,28,ANDHRA PRADESH,99,6809970,3500802,3309168,725816,373794,352022,...,2359594,945,942,82.96,85.96,79.79,"17.3850,78.4867",1164149,685402,478747
119,Chennai,33,TAMIL NADU,2,4681087,2357633,2323454,418541,213084,205457,...,1845974,986,964,90.33,93.47,87.16,"13.0826802,80.2707184",879695,487428,392267
131,Dabgram,19,WEST BENGAL,2,118464,60708,57756,14472,7427,7045,...,34149,951,949,73.98,80.29,67.34,"26.6954603,88.4415998",2532,1703,829
39,Bagaha,10,BIHAR,1,113012,59946,53066,19070,9802,9268,...,22247,885,946,60.67,69.30,50.79,"27.1221959,84.0722375",3744,2756,988
234,Jamuria,19,WEST BENGAL,9,144971,75574,69397,17556,9017,8539,...,38753,918,947,73.11,81.73,63.68,"23.7060688,87.0774107",5436,3961,1475
374,Pithampur,23,MADHYA PRADESH,21,126099,70577,55522,20438,10872,9566,...,33387,787,880,82.73,90.49,72.65,"22.613252,75.6822899",5150,3657,1493
323,Mustafabad,7,NCT OF DELHI,3,127012,66754,60258,19370,10176,9194,...,34201,903,903,76.10,84.33,66.98,"28.7113968,77.2681086",4462,2950,1512

In [51]:
#1.c.Display only the rows which belong to Kerala, Bihar and Maharashtra.
state=['BIHAR']
states= df[df['state_name'].isin(state)] 
states

,name_of_city,state_code,state_name,dist_code,population_total,population_male,population_female,0-6_population_total,0-6_population_male,0-6_population_female,...,literates_female,sex_ratio,child_sex_ratio,effective_literacy_rate_total,effective_literacy_rate_male,effective_literacy_rate_female,location,total_graduates,male_graduates,female_graduates
31,Arrah,10,BIHAR,29,261099,139319,121780,34419,18356,16063,...,81258,874,875,83.41,89.14,76.86,"25.5560443,84.6603307",35354,25045,10309
34,Aurangabad,10,BIHAR,33,101520,53307,48213,14292,7548,6744,...,33458,904,893,86.89,92.52,80.68,"24.7457189,84.3804888",13141,9371,3770
39,Bagaha,10,BIHAR,1,113012,59946,53066,19070,9802,9268,...,22247,885,946,60.67,69.30,50.79,"27.1221959,84.0722375",3744,2756,988
69,Begusarai,10,BIHAR,20,251136,133931,117205,37966,20012,17954,...,72702,875,897,79.35,84.67,73.25,"25.416675,86.1293792",24616,16492,8124
73,Bettiah,10,BIHAR,1,132896,70381,62515,18203,9685,8518,...,42116,888,880,82.54,86.57,78.00,"26.8028048,84.5169757",13438,9372,4066
78,Bhagalpur,10,BIHAR,22,398138,212005,186133,53775,28061,25714,...,122420,878,916,81.16,85.38,76.31,"25.3478004,86.9824288",49656,33692,15964
98,Biharsharif,10,BIHAR,27,296889,154915,141974,43646,22758,20888,...,79173,916,918,74.80,83.42,65.39,"25.1982147,85.5148735",28092,20487,7605
111,Buxar,10,BIHAR,30,102591,54123,48468,13639,7260,6379,...,33151,896,879,85.16,90.91,78.76,"25.4987785,84.1435136",12464,8920,3544
117,Chapra,10,BIHAR,17,201597,106250,95347,27668,14516,13152,...,62447,897,906,81.30,86.07,75.97,"25.7795649,84.7498886",22852,15710,7142
134,Darbhanga,10,BIHAR,13,294116,154970,139146,40392,21202,19190,...,89583,898,905,80.88,86.43,74.68,"26.111868,85.896004",38605,26731,11874
140,Dehri,10,BIHAR,32,137068,72311,64757,18372,9570,8802,...,42552,896,920,83.38,89.92,76.05,"24.9277351,84.1909841",14780,10297,4483
153,Dinapur Nizamat,10,BIHAR,28,182241,97129,85112,25092,13398,11694,...,52413,876,873,78.40,84.54,71.39,"25.6328264,85.0597137",19777,13707,6070
175,Gaya,10,BIHAR,34,463454,245764,217690,59015,30966,28049,...,152370,886,906,85.74,90.49,80.35,"24.7954523,84.999431",56679,38831,17848
196,Hajipur,10,BIHAR,18,147126,78561,68565,20090,10694,9396,...,43154,873,879,79.26,84.78,72.93,"25.6858392,85.2145907",16319,11371,4948
230,Jamalpur,10,BIHAR,24,105221,56231,48990,12298,6587,5711,...,35231,871,867,87.38,92.58,81.40,"25.312717,86.4906091",10638,7165,3473
236,Jehanabad,10,BIHAR,37,102456,54868,47588,14516,7706,6810,...,30163,867,884,79.66,84.58,73.97,"25.1515827,84.981754",8901,6620,2281
259,Katihar,10,BIHAR,10,225982,119142,106840,31036,16054,14982,...,68125,897,933,79.87,84.96,74.16,"25.552048,87.5718609",24259,17105,7154
269,Kishanganj,10,BIHAR,8,107076,55688,51388,17017,8743,8274,...,29804,923,946,74.71,79.84,69.13,"26.0917422,87.9383822",7847,5536,2311
318,Motihari,10,BIHAR,2,125183,67438,57745,16325,8891,7434,...,42022,856,836,87.20,90.36,83.52,"26.6469624,84.9088938",19550,13634,5916
321,Munger,10,BIHAR,24,213101,113173,99928,29260,15323,13937,...,65864,883,910,81.83,86.43,76.59,"25.3747561,86.4735251",19988,13825,6163
325,Muzaffarpur,10,BIHAR,14,351838,186145,165693,42276,22287,19989,...,118090,890,897,85.16,88.83,81.05,"26.1208876,85.3647201",61914,40575,21339
371,Patna,10,BIHAR,28,1683200,894158,789042,190496,102208,88288,...,569943,882,864,84.71,87.71,81.33,"25.5940947,85.1375645",307603,199207,108396
382,Purnia,10,BIHAR,9,280547,148021,132526,41046,21081,19965,...,77646,895,947,74.48,79.36,68.98,"25.7771391,87.4752551",28193,19787,8406
413,Saharsa,10,BIHAR,12,155175,82589,72586,24582,12814,11768,...,42736,879,918,77.66,84.11,70.27,"25.8834961,86.6006249",18307,13209,5098
419,Sasaram,10,BIHAR,32,147396,77687,69709,19363,10189,9174,...,46478,897,900,82.31,87.26,76.78,"24.949036,84.0314295",18844,13181,5663
440,Siwan,10,BIHAR,16,134458,70670,63788,17632,9440,8192,...,42746,903,868,84.65,91.71,76.89,"26.2196205,84.3566593",14545,9727,4818

In [52]:
state=['MAHARASHTRA']
states= df[df['state_name'].isin(state)] 
states

,name_of_city,state_code,state_name,dist_code,population_total,population_male,population_female,0-6_population_total,0-6_population_male,0-6_population_female,...,literates_female,sex_ratio,child_sex_ratio,effective_literacy_rate_total,effective_literacy_rate_male,effective_literacy_rate_female,location,total_graduates,male_graduates,female_graduates
1,Achalpur,27,MAHARASHTRA,7,112293,58256,54037,11810,6186,5624,...,43086,928,909,91.99,94.77,89.00,"21.257584,77.5086754",8863,5269,3594
8,Ahmadnagar,27,MAHARASHTRA,26,350905,179755,171150,36712,19748,16964,...,134649,952,859,91.49,95.51,87.33,"19.0952075,74.7495916",51661,29832,21829
12,Akola,27,MAHARASHTRA,5,427146,218184,208962,46500,24488,22012,...,164093,958,899,91.34,94.78,87.77,"20.7059345,77.0219019",49715,28812,20903
20,Ambarnath,27,MAHARASHTRA,21,254003,133006,120997,27465,14406,13059,...,90434,910,906,89.04,93.82,83.78,"19.1825167,73.1926023",26596,14444,12152
24,Amravati,27,MAHARASHTRA,7,646801,330544,316257,62497,32713,29784,...,259078,957,910,93.03,95.52,90.44,"20.9374238,77.7795513",91996,51456,40540
35,Aurangabad,27,MAHARASHTRA,19,1171330,610377,560953,151827,81671,70156,...,411321,919,859,89.13,94.08,83.81,"19.8761653,75.3433139",159308,96576,62732
38,Badlapur,27,MAHARASHTRA,21,175516,91695,83821,17194,9096,8098,...,67349,914,890,92.38,95.53,88.94,"19.1667854,73.2367896",25115,13878,11237
63,Barshi,27,MAHARASHTRA,30,118573,60857,57716,13029,7060,5969,...,41295,948,845,86.47,92.88,79.80,"18.2333856,75.6941478",13351,8564,4787
89,Bhiwandi,27,MAHARASHTRA,21,711329,418478,292851,88613,45820,42793,...,192816,700,934,81.53,84.50,77.11,"19.2812547,73.0482912",24688,14404,10284
94,Bhusawal,27,MAHARASHTRA,3,187750,96655,91095,19440,10496,8944,...,70559,942,852,90.37,94.64,85.89,"21.0455204,75.8010962",19815,11257,8558
95,Bid,27,MAHARASHTRA,27,146237,75655,70582,19580,10626,8954,...,51036,933,843,88.56,94.01,82.81,"18.9890893,75.7600785",19030,12252,6778
116,Chandrapur,27,MAHARASHTRA,13,321036,165125,155911,30353,15921,14432,...,121434,944,906,90.81,95.53,85.83,"19.9704597,79.3014845",37686,21317,16369
150,Dhule,27,MAHARASHTRA,2,376093,193854,182239,43677,23246,20431,...,138182,940,879,89.86,94.08,85.40,"20.9042201,74.7748979",38164,23320,14844
182,Gondiya,27,MAHARASHTRA,11,132889,66756,66133,12835,6652,6183,...,53769,991,929,93.70,97.70,89.69,"21.4624491,80.2209773",18563,10175,8388
185,Greater Mumbai,27,MAHARASHTRA,99,12478447,6736815,5741632,1139146,599007,540139,...,4509812,852,902,90.28,93.32,86.70,"19.0760,72.8777",1802371,964964,837407
211,Hinganghat,27,MAHARASHTRA,8,100416,51881,48535,9681,5175,4506,...,39871,936,871,94.34,97.91,90.56,"20.5505728,78.8411405",11256,6684,4572
219,Ichalkaranji,27,MAHARASHTRA,34,287570,149691,137879,32880,17402,15478,...,99874,921,889,87.85,93.64,81.60,"16.7090008,74.4560807",22644,13707,8937
227,Jalgaon,27,MAHARASHTRA,3,460468,241228,219240,51544,28548,22996,...,165352,909,806,88.96,93.30,84.26,"21.0076578,75.5626039",55315,33154,22161
228,Jalna,27,MAHARASHTRA,18,285349,147714,137635,37695,19982,17713,...,93231,932,886,84.61,91.05,77.74,"19.8296893,75.8800305",23959,15360,8599
273,Kolhapur,27,MAHARASHTRA,34,549283,280820,268463,49914,27245,22669,...,215743,956,832,92.12,96.32,87.77,"16.7049873,74.2432527",92443,52599,39844
286,Latur,27,MAHARASHTRA,28,382754,198151,184603,45822,24773,21049,...,131156,932,850,86.43,92.32,80.19,"18.4087934,76.5603828",42355,27669,14686
299,Malegaon,27,MAHARASHTRA,20,471006,239243,231763,74494,38387,36107,...,162527,969,941,86.66,90.16,83.07,"20.5547497,74.5100291",22830,13345,9485
310,Mira Bhayander,27,MAHARASHTRA,21,814655,434330,380325,84238,44688,39550,...,308494,876,885,93.67,96.41,90.53,"19.2952325,72.8543897",118506,65979,52527
334,Nagpur,27,MAHARASHTRA,9,2405421,1226610,1178811,237865,123851,114014,...,958239,961,921,93.13,96.16,89.99,"21.1458004,79.0881546",382282,201349,180933
337,Nanded Waghala,27,MAHARASHTRA,15,550564,286152,264412,68181,36417,31764,...,190157,924,872,87.40,92.68,81.74,"19.1428869,77.303723",57736,38146,19590
338,Nandurbar,27,MAHARASHTRA,1,111067,57543,53524,12621,6868,5753,...,38962,930,838,86.99,92.10,81.56,"21.7468548,74.123996",11451,7441,4010
342,Nashik,27,MAHARASHTRA,20,1486973,784995,701978,169753,91457,78296,...,539559,894,856,90.96,94.96,86.51,"19.9974533,73.7898023",204014,116855,87159
343,Navi Mumbai,27,MAHARASHTRA,21,1119477,611501,507976,124015,65230,58785,...,392285,831,901,91.57,95.05,87.33,"19.0330488,73.0296625",192624,107448,85176
344,Navi Mumbai Panvel Raigarh,27,MAHARASHTRA,24,194999,107771,87228,25679,13633,12046,...,64775,809,884,90.72,94.36,86.16,"18.9894007,73.1175162",22631,13561,9070
356,Osmanabad,27,MAHARASHTRA,29,112085,58098,53987,13346,7184,6162,...,39464,929,858,88.15,93.45,82.52,"18.2069636,76.1783739",14303,9459,4844
366,Panvel,27,MAHARASHTRA,24,180464,93135,87329,17512,9213,8299,...,72348,938,901,93.98,96.27,91.54,"18.9894007,73.1175162",39613,20964,18649
367,Parbhani,27,MAHARASHTRA,17,307191,157628,149563,40075,21187,18888,...,101538,949,891,84.34,90.71,77.70,"19.2609958,76.776665",30035,19600,10435
373,Pimpri Chinchwad,27,MAHARASHTRA,25,1729359,945953,783406,216695,116421,100274,...,590002,828,861,90.90,94.63,86.37,"18.6297811,73.7997094",249581,141573,108008
380,Pune,27,MAHARASHTRA,25,3115431,1602137,1513294,324572,171152,153420,...,1195486,945,896,91.61,95.13,87.91,"18.5204303,73.8567437",656508,349022,307486
417,Sangli Miraj Kupwad,27,MAHARASHTRA,35,502697,255270,247427,51536,27524,24012,...,184692,969,872,88.08,93.39,82.67,"16.8541887,74.6049061",60752,34112,26640
420,Satara,27,MAHARASHTRA,31,120079,61075,59004,11023,5833,5190,...,48079,966,890,92.91,96.38,89.34,"17.6804639,74.018261",22292,12269,10023
441,Solapur,27,MAHARASHTRA,30,951118,482194,468924,104466,54728,49738,...,319845,972,909,83.88,91.31,76.30,"17.6599188,75.9063906",88638,54159,34479
456,Thane,27,MAHARASHTRA,21,1818872,966293,852579,186259,98017,88242,...,673724,882,900,91.36,94.19,88.14,"19.2183307,72.9780897",241148,129214,111934
472,Udgir,27,MAHARASHTRA,28,104063,54445,49618,13075,6933,6142,...,34533,911,886,85.78,91.59,79.43,"18.3942882,77.1126009",9924,6900,3024
475,Ulhasnagar,27,MAHARASHTRA,21,506937,270373,236564,48513,25492,23021,...,180984,875,903,89.21,93.10,84.75,"19.2215115,73.1644628",43561,23087,20474
482,Vasai Virar City,27,MAHARASHTRA,21,1221233,649535,571698,137343,71716,65627,...,439778,880,915,91.15,94.86,86.90,"19.3919275,72.8397317",129954,70016,59938
490,Wardha,27,MAHARASHTRA,8,105543,53241,52302,9754,5139,4615,...,43339,982,898,94.05,97.19,90.88,"20.745319,78.6021946",19363,10645,8718
492,Yavatmal,27,MAHARASHTRA,14,116714,58717,57997,11081,5894,5187,...,46561,988,880,91.81,95.45,88.17,"20.3887937,78.1204073",13511,7397,6114

In [56]:
state=['KERALA']
states=df[df['state_name'].isin(state)]
states

,name_of_city,state_code,state_name,dist_code,population_total,population_male,population_female,0-6_population_total,0-6_population_male,0-6_population_female,...,literates_female,sex_ratio,child_sex_ratio,effective_literacy_rate_total,effective_literacy_rate_male,effective_literacy_rate_female,location,total_graduates,male_graduates,female_graduates
14,Alappuzha,32,KERALA,11,174164,83888,90276,15434,7934,7500,...,78815,1076,945,96.56,98.03,95.21,"9.4980667,76.3388484",22263,9900,12363
271,Kochi,32,KERALA,8,601574,296668,304906,52466,26863,25603,...,270062,1028,953,97.49,98.31,96.69,"9.9312328,76.2673041",115773,54538,61235
275,Kollam,32,KERALA,13,349033,168076,180957,31304,16018,15286,...,149927,1077,954,92.10,93.85,90.50,"8.8932118,76.6141396",39521,17708,21813
278,Kozhikode,32,KERALA,4,432097,206494,225603,41574,21208,20366,...,196582,1093,960,96.80,97.93,95.78,"11.2587531,75.78041",61225,27701,33524
358,Palakkad,32,KERALA,6,131019,63833,67186,11614,5930,5684,...,56414,1053,959,94.20,96.83,91.73,"10.7867303,76.6547932",16827,8436,8391
459,Thiruvananthapuram,32,KERALA,14,752490,364657,387833,61619,31156,30463,...,330865,1064,978,93.72,94.94,92.58,"8.5241391,76.9366376",151257,72759,78498
461,Thrissur,32,KERALA,7,315596,151999,163597,25252,12953,12299,...,145644,1076,950,97.24,98.31,96.26,"10.5276416,76.2144349",53535,24392,29143

In [59]:
#1.d.Find the  top 10 cities with highest total graduation rate
gradr=df.nlargest(10,'total_graduates')
print(gradr[('name_of_city')])

141                Delhi
185       Greater Mumbai
72              Bengaluru
184    Greater Hyderabad
119              Chennai
274              Kolkata
7              Ahmadabad
380                 Pune
288              Lucknow
225               Jaipur
Name: name_of_city, dtype: object

In [71]:
#1.e.Calculate the average child sex ratio of the Kerala State.
state=['KERALA']
states=df[df['state_name'].isin(state)]
states[['sex_ratio']].mean()

sex_ratio    1066.714286
dtype: float64

### 2.Mean = 70 and Standard Deviation = 10. Identify how much area can be found between 70 and 90 with help of Empirical Rule.
1.The mean given is 70 and standard deviation is 10.

2.from 70 to 90 if we want to find area then we should do +20 and -20

3.we get area from 50 to 90,i.e,95% using Empirical Rule.

4.But we need area between 70-90 which is half of 95% i.e,47.5%
#### Therefore area between 70 and 90 is 47.5%