In [34]:
#1.Write a Python program to add, subtract, multiple and divide two Pandas Series. 
import pandas as p
import numpy as n
s1=p.Series([2, 4, 6, 8, 10])
s2=p.Series([1, 3, 5, 7, 9])
s3=s1+s2
s4=s1-s2
s5=s1*s2
s6=s1/s2
data={"Column1":s1,"Column2":s2,"Addition":s3,"Subtraction":s4,"Multiplication":s5,"Division":s6}
df3=p.DataFrame(data)
df3

   Column1  Column2  Addition  Subtraction  Multiplication  Division
0        2        1         3            1               2  2.000000
1        4        3         7            1              12  1.333333
2        6        5        11            1              30  1.200000
3        8        7        15            1              56  1.142857
4       10        9        19            1              90  1.111111

In [38]:
#2.Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series. 
s1=p.Series([3.000938,11.370722,14.612143,8.990256,13.925283,12.056875,14.118931,8.247458,5.526727])
s1.describe()

count     9.000000
mean     10.205481
std       4.069136
min       3.000938
25%       8.247458
50%      11.370722
75%      13.925283
max      14.612143
dtype: float64

In [4]:
#3.Write a Pandas program to get the items of a given series not present in another given series. 
import pandas as p
import numpy as n
a1=p.Series([1,2,3,4,5])
a2=p.Series([2,4,6,8,10])
r=a1[~a1.isin(a2)]
r

0    1
2    3
4    5
dtype: int64

In [5]:
#4.Write a Pandas program to filter words from a given series that contain at least two vowels. 
import pandas as pd
from collections import Counter
color_series = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])
result = mask = color_series.map(lambda c: sum([Counter(c.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
print(color_series[result])

1     Green
2    Orange
4    Yellow
5     White
dtype: object

In [14]:
#5.
import pandas as p
import numpy as n
data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, n.nan, 9, 20, 14.5, n.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
l = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = p.DataFrame(data , index=l)
x=(df['attempts'] > 2)
print(df[x])

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes